<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="stylesheet" href="./assets/carousel/owl.carousel.css">
    <link rel="stylesheet" href="./assets/carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />

    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/destination.css">

</head>

<body>
    <header>
        <div class="info__header">
            <div class="info__header__content">
                <ul>
                    <li>Vietnam Tours 2022 - 2023</li>
                    <li><i class="fa-light fa-envelope"></i> experts@insidetravel.com</li>
                    <li><i class="fa-solid fa-phone"></i> (+84) 916 952 668</li>
                </ul>

                <select name="" id="">
                    <option value="">English</option>
                    <option value="">Vietnamese</option>
                </select>
            </div>
            <div class="menu__header">
                <div class="logo">
                    <img src="./assets/image/logo.png" alt="">
                </div>
                <div class="menu">
                    <ul class="nav__bar">
                        <li class="sub__menu">
                            <a href="about.html" class="sub__menu__title">Vietnam tours</a>
                            <span>Best 2022</span>
                        </li>
                        <li class="sub__menu">
                            <a href="listRoom.html" class="sub__menu__title">Vietnam tours styles</a>
                            <ul class="dropdown__menu menu-item">
                                <li class="">
                                    <a href="" class="list__item__menu">
                                        <img src="./assets/image/menu-vn-tour1.jpg" alt="">
                                        <p>Best Vietnam Tours</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="list__item__menu">
                                        <img src="./assets/image/menu-vn-tour2.jpg" alt="">
                                        <p>Best Vietnam Tours</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="list__item__menu">
                                        <img src="./assets/image/menu-vn-tour3.jpg" alt="">
                                        <p>Best Vietnam Tours</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="list__item__menu">
                                        <img src="./assets/image/menu-vn-tour4.jpg" alt="">
                                        <p>Best Vietnam Tours</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="list__item__menu">
                                        <img src="./assets/image/menu-vn-tour5.jpg" alt="">
                                        <p>Best Vietnam Tours</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="list__item__menu">
                                        <img src="./assets/image/menu-vn-tour6.jpg" alt="">
                                        <p>Best Vietnam Tours</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub__menu">
                            <a href="facilities.html" class="sub__menu__title">Destination</a>
                            <span>Themes</span>
                            <div class="dropdown__menu menu-item three__column">
                                <div class="list__destinations__menu">
                                    <a href="" class="items__destinations__menu">
                                        <img src="./assets/image/menu-vn-tour1.jpg" alt="">
                                        <p>Best Vietnam Tours</p>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="">Hanoi Tours <span>(86 tours)</span></a>
                                        </li>
                                        <li>
                                            <a href="">Hanoi Tours <span>(86 tours)</span></a>
                                        </li>
                                        <li>
                                            <a href="">Hanoi Tours <span>(86 tours)</span></a>
                                        </li>
                                        <li>
                                            <a href="">Hanoi Tours <span>(86 tours)</span></a>
                                        </li>
                                        <li>
                                            <a href="">Hanoi Tours <span>(86 tours)</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="list__destinations__menu">
                                    <a href="" class="items__destinations__menu">
                                        <img src="./assets/image/menu-vn-tour2.jpg" alt="">
                                        <p>Best Vietnam Tours</p>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="">Hanoi Tours <span>(86 tours)</span></a>
                                        </li>
                                        <li>
                                            <a href="">Hanoi Tours <span>(86 tours)</span></a>
                                        </li>
                                        <li>
                                            <a href="">Hanoi Tours <span>(86 tours)</span></a>
                                        </li>
                                        <li>
                                            <a href="">Hanoi Tours <span>(86 tours)</span></a>
                                        </li>
                                        <li>
                                            <a href="">Hanoi Tours <span>(86 tours)</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="list__destinations__menu">
                                    <a href="" class="items__destinations__menu">
                                        <img src="./assets/image/menu-vn-tour3.jpg" alt="">
                                        <p>Best Vietnam Tours</p>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="">Hanoi Tours <span>(86 tours)</span></a>
                                        </li>
                                        <li>
                                            <a href="">Hanoi Tours <span>(86 tours)</span></a>
                                        </li>
                                        <li>
                                            <a href="">Hanoi Tours <span>(86 tours)</span></a>
                                        </li>
                                        <li>
                                            <a href="">Hanoi Tours <span>(86 tours)</span></a>
                                        </li>
                                        <li>
                                            <a href="">Hanoi Tours <span>(86 tours)</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="sub__menu">
                            <a href="blog.html" class="sub__menu__title">By duration</a>
                            <span>1 - 16+</span>
                            <ul class="dropdown__menu">
                                <li><a href="contact.html">1 - 5 Days Vietnam Tours</a></li>
                                <li><a href="contact.html">6 - 10 Days Vietnam Tours</a></li>
                                <li><a href="contact.html">11 - 15 Days Vietnam Tours</a></li>
                                <li><a href="contact.html">16+ Days Vietnam Tours</a></li>
                            </ul>
                        </li>
                        <li class="sub__menu">
                            <a href="" class="sub__menu__title">Vietnam family tours</a>
                            <span>Special</span>
                        </li>
                    </ul>
                </div>

                <div class="customize">
                    <img src="./assets/image/team_support.jpg" alt="">
                    <a href="">CUSTOMIZE VIETNAM TOURS</a>
                </div>

                <div class="best__tour__header">
                    <img src="./assets/image/best-tour-header.svg" alt="">
                    <h5>Best tours</h5>
                </div>

                <div class="menu__bar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

        </div>
    </header>

    <!--menu mobile-->
    <div class="menu__mobile">
        <ul class="main__menu__mobile">
            <li class="sub__menu__mobile"><a href="" class="menu__title__mobile">Vietnam Tours</a></li>
            <li class="sub__menu__mobile"><a href="" class="menu__title__mobile">Vietnam Tours Styles</a></li>
            <li class="sub__menu__mobile"><a href="" class="menu__title__mobile">Destinations</a></li>
            <li class="sub__menu__mobile"><a href="" class="menu__title__mobile">By Duration</a></li>
            <li class="sub__menu__mobile"><a href="" class="menu__title__mobile">Vietnam Family Tours</a></li>
        </ul>
    </div>
    <!--end menu mobile-->

    <div class="book-train">
        <div class="grid-1">
            <div class="row">
                <div class="col-xl-7">
                    <div class="info-train-dt mb-4 mb-xl-0">
                        <div class="date-binding">
                            <span>Chiều VNĐi :</span>
                            <span>ngày 22/12/2022</span>
                            <span>từ Hà nội VNĐến Sài gòn</span>
                        </div>
                        <div class="train-group">
                            <div class="panel panle-default">
                                <div class="panel-heading" style="height: 35px;background-color: #719dad70;line-height: 25px;font-weight: 600;border-top-left-radius: unset;border-top-right-radius: unset;">
                                </div>
                                <div class="panel-body" style="padding: 10px 5px 8px 5px;background-color: #efefef;">
                                    <div id="accordion">
                                        <div class="card-train">
                                            <div class="card-train-header row align-items-center m-0">
                                                <div class="col-md-2 col-sm-3 text-center">
                                                    <div style="font-weight:600; line-height: 45px; font-size: 16px" class="ng-binding">SE6</div>
                                                </div>
                                                <div class="col-md-6 col-sm-8 info-train-group text-center">
                                                    <div class="info-train">
                                                        <div class="time ng-binding">17/11 01:58</div>
                                                        <hr>
                                                        <div class="super-bold station ng-binding">Ninh Bình</div>
                                                    </div>
                                                    <div class="info-train">
                                                        <div class="time"><img src="./assets/image/bullet_train.png" width="21"></div>
                                                        <hr>
                                                        <div class="super-bold ng-binding" style="font-size:12px;font-family: 'Times New Roman'">2 giờ, 19 phút</div>
                                                    </div>
                                                    <div class="info-train">
                                                        <div class="time ng-binding">17/11 04:17</div>
                                                        <hr>
                                                        <div class="super-bold station ng-binding">Hà Nội</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 text-center hidden-sm" style="font-size:14px;margin-top: 5px"><span class="super-bold ng-binding">Chỗ còn</span><br><span class="super-bold ng-binding">249</span></div>
                                                <div class="col-md-2 text-center hidden-sm" style="margin-top:10px">
                                                    <!-- ngIf: tau.Price>0 --><span class="super-bold price-train ng-binding ng-scope" ng-if="tau.Price>0">98,000<span style="font-size:14px;font-weight:normal">&nbsp; VNĐ</span></span>
                                                    <!-- end ngIf: tau.Price>0 -->
                                                    <!-- ngIf: tau.Price==0 -->
                                                </div>
                                            </div>
                                            <div class="card-train-collapse" style="display:none ;">
                                                <div class="type-chair">
                                                    <input type="radio" name="khoang-se6" id="khoang6-se6">
                                                    <label for="khoang6-se6">
                                                        nằm khoang 6
                                                        <span class="price">100,000 VNVNĐ</span>
                                                    </label>
                                                </div>
                                                <div class="type-chair">
                                                    <input type="radio" name="khoang-se6" id="khoang4-se6">
                                                    <label for="khoang4-se6">
                                                        nằm khoang 4
                                                        <span class="price">125,000 VNVNĐ</span>
                                                    </label>
                                                </div>
                                                <div class="type-chair">
                                                    <input type="radio" name="khoang-se6" id="ngoimem-se6">
                                                    <label for="ngoimem-se6">
                                                        ngồi mềm
                                                        <span class="price">90,000 VNVNĐ</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-train">
                                            <div class="card-train-header row align-items-center m-0">
                                                <div class="col-md-2 col-sm-3 text-center">
                                                    <div style="font-weight:600; line-height: 45px; font-size: 16px" class="ng-binding">SE8</div>
                                                </div>
                                                <div class="col-md-6 col-sm-8 info-train-group text-center">
                                                    <div class="info-train">
                                                        <div class="time ng-binding">17/11 01:58</div>
                                                        <hr>
                                                        <div class="super-bold station ng-binding">Ninh Bình</div>
                                                    </div>
                                                    <div class="info-train">
                                                        <div class="time"><img src="./assets/image/bullet_train.png" width="21"></div>
                                                        <hr>
                                                        <div class="super-bold ng-binding" style="font-size:12px;font-family: 'Times New Roman'">2 giờ, 19 phút</div>
                                                    </div>
                                                    <div class="info-train">
                                                        <div class="time ng-binding">17/11 04:17</div>
                                                        <hr>
                                                        <div class="super-bold station ng-binding">Hà Nội</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 text-center hidden-sm" style="font-size:14px;margin-top: 5px"><span class="super-bold ng-binding">Chỗ còn</span><br><span class="super-bold ng-binding">249</span></div>
                                                <div class="col-md-2 text-center hidden-sm" style="margin-top:10px">
                                                    <!-- ngIf: tau.Price>0 --><span class="super-bold price-train ng-binding ng-scope" ng-if="tau.Price>0">98,000<span style="font-size:14px;font-weight:normal">&nbsp; VNĐ</span></span>
                                                    <!-- end ngIf: tau.Price>0 -->
                                                    <!-- ngIf: tau.Price==0 -->
                                                </div>
                                            </div>
                                            <div class="card-train-collapse" style="display:none ;">
                                                <div class="type-chair">
                                                    <input type="radio" name="khoang-se8" id="khoang6-se8">
                                                    <label for="khoang6-se8">
                                                        nằm khoang 6
                                                        <span class="price">100,000 VNVNĐ</span>
                                                    </label>
                                                </div>
                                                <div class="type-chair">
                                                    <input type="radio" name="khoang-se8" id="khoang4-se8">
                                                    <label for="khoang4-se8">
                                                        nằm khoang 4
                                                        <span class="price">125,000 VNVNĐ</span>
                                                    </label>
                                                </div>
                                                <div class="type-chair">
                                                    <input type="radio" name="khoang-se8" id="ngoimem-se8">
                                                    <label for="ngoimem-se8">
                                                        ngồi mềm
                                                        <span class="price">90,000 VNVNĐ</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">

                    <div class="form-train-dt">
                        <form action="">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Full name</label>
                                        <input type="text" class="form-control" name="fullname" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Phonnumber</label>
                                        <input type="text" class="form-control" name="phonnumber" placeholder="Phonenumber">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Email</label>
                                        <input type="text" class="form-control" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Message</label>
                                        <textarea name="message" id="" cols="30" rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-submit btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <footer>
        <div class="main__footer">
            <div class="row">
                <div class="col-lg-4 col-sm-6 footer__link">
                    <h4>Customized Vietnam Tours by Inside Travel Experts</h4>
                    <img src="./assets/image/logo__footer.png" alt="">
                    <h5>Hanoi Office</h5>
                    <ul>
                        <li>No 16 11B, Trung Yen 10 St, Cau Giay Dist, Hanoi, Vietnam</li>
                        <li>Phone: (+84) 2462 698 528</li>
                    </ul>
                    <h5>HCM Office</h5>
                    <ul>
                        <li>Suite A703, Khang Gia Building, Go Vap Dist, Ho Chi Minh City (Saigon)</li>
                        <li>Hotline(S.E.A): (+84) 916 952 668</li>
                        <li>Hotline(S.E.A): (+84) 916 952 668</li>
                        <li>Email: experts@insidetravel.com</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-6 footer__link">
                    <h4 class="links">Quick Links</h4>
                    <ul class="quick__link">
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> About Us</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Contact Us</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Why Choose Us?</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Testimonials</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Deposit & Payment</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Cancellation & Amendaments</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Terms and Conditions</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Vietnam Destinations</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Privacy Policy</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Vietnam Travel Guide</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Mekong River Cruise</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Halong bay cruise</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-6 footer__link">
                    <h4 class="links">Vietnam Tours</h4>
                    <ul class="quick__link">
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Best Vietnam Tours</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> New Vietnam Tours</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Vietnam Classic Tours</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Vietnam Beach Tours</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Vietnam Family Tours</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Vietnam Honeymoon Tours</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Vietnam Active Tours</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Vietnam Cuisine Tours</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Vietnam Luxury Tours</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Vietnam Day Trips & Short Breaks</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Vietnam Golf Tours</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> Vietnam & Indochina Tours</a></li>
                    </ul>
                </div>
            </div>
            <div class="partner">
                <img src="./assets/image/partner.png" alt="">
            </div>
        </div>
        <div class="copyright">
            <p>
                <img src="./assets/image/vietnam.gif" alt=""> All Contents of this website are © INSIDE TRAVEL Corporation.
            </p>
        </div>
    </footer>
    <!--end footer-->


    <button class="back-to-top btn-active">
        <i class="fa-sharp fa-solid fa-triangle"></i>
    </button>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="./assets/carousel/owl.carousel.js"></script>
    <script src="./assets/carousel/owl.carousel.min.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>